html, body, .app {
  height: 100vh;
  /* height: 100%; */
  width: 100%;
  background: #eee;
  padding: 0;
}

/* .app {padding: 1rem !important;} */

/* .app {height: 100vh;} */

.Header__header {
  text-align: center; 
  padding: 10px 0px; 
  background: #232323; 
  color: white; 
  position: absolute; 
  top: 0; left: 0;
  width: 100%; 
}

.Comments__container {
  padding: 0px;
}

.Chat__header {
  text-align: left; 
  /* padding: 10px 0px;  */
  background: #232323; 
  color: white; 
  /* top: 0; left: 0; */
  width: 100%; 
}


.Chat__header p {
  /* padding: 10px;  */
  line-height: 49.2px;
  box-sizing: border-box;
  color: #232323;
}

.messages {
  height: 64vh;
  overflow-y: scroll;
  width: 100% !important; 
  max-width: 100% !important;
  padding: 1rem;

}

.Header__footer {
  text-align: center; 
  padding: 10px 0px; 
  background: #232323; 
  color: white; 
  position: absolute; 
  bottom: 0; left: 0;
  width: 100%; 
}

.category__container {
  margin-top: 20px;
}

.category__header {
  margin: 0px 0px 5px 0px !important;
}

.category__channel {
  margin: 0px !important;
  padding: 5px !important;
  box-sizing: border-box;
  cursor: pointer;
}

.category__channel:hover {
  background-color: rgba(0,0,0,0.1);
}

.category__channel.active {
  background-color: rgba(0,0,0,0.1);
}

.chat__commentPannel {
  height: 100vh !important;
}

.message__form {
  position: absolute !important;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  margin-left: 1em !important;
}

.skeleton {
  position: relative;
  overflow: hidden;
  height: 40px;
  margin-bottom: 10px;
}

.skeleton::after {
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 50%;
  height: 100%;
  animation: sweep 2s infinite;
  background-image: linear-gradient(to left, transparent, rgba(255,255,255,0.4), transparent)
}

@keyframes sweep {
  0% {transform: translateX(-100%)}
  50% {transform: translateX(150%)}
  100% {transform: translateX(-100%)}
}

.skeleton__avatar {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background-color: rgba(58,57,57, 0.3);
}

.skeleton__author {
  background-color: rgba(58,57,57,0.3);
  width: 120px;
  height: 10px;
  border-radius: 3px;
  position: absolute;
  bottom: 30px;
  left: 40px;
  right: 0;
}

.skeleton__details {
  background-color: rgba(58,57,57,0.3);
  height: 20px;
  border-radius: 3px;
  position: absolute;
  bottom: 5px;
  left: 40px;
  right: 20px;  
}