html, body, .app {
  height: 100vh;
  /* height: 100%; */
  width: 100%;
  background: #eee;
  padding: 0;
}

/* .app {padding: 1rem !important;} */

.Header__header {
  text-align: center; 
  padding: 10px 0px; 
  background: #232323; 
  color: white; 
  position: absolute; 
  top: 0; left: 0;
  width: 100%; 
}

.Header__footer {
  text-align: center; 
  padding: 10px 0px; 
  background: #232323; 
  color: white; 
  position: absolute; 
  bottom: 0; left: 0;
  width: 100%; 
}

.category__channel {
  margin: 5px 0px !important;
  padding: 5px !important;
  box-sizing: border-box;
  cursor: pointer;
}

.category__channel:hover {
  background-color: rgba(0,0,0,0.1);
}

.category__channel.active {
  background-color: rgba(0,0,0,0.1);
}
